<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Music.back.Mapper.IndexMapper">
<!-- 新歌榜 -->
<select id="queryNew" resultType="MusicPojo">
select a.id,a.MName,a.MPath,a.MIPath,b.AName from musics a 
		left join artist b on a.Aid=b.id ORDER BY Mtime DESC,PCount DESC LIMIT 9
</select>
<!-- 热歌榜 -->
<select id="queryHot" resultType="MusicPojo">
select a.id,a.MName,a.MPath,a.MIPath,b.AName from musics a 
		left join artist b on a.Aid=b.id ORDER BY DCount DESC,PCount DESC LIMIT 9
</select>
<!-- 巅峰榜 -->
<select id="queryTop" resultType="MusicPojo">
select a.id,a.MName,a.MPath,a.MIPath,b.AName from musics a 
		left join artist b on a.Aid=b.id ORDER BY (DCount+PCount) DESC LIMIT 9
</select>
<!-- 曲风列表 -->
<select id="getStyle" resultType="String">
  select Sname from style 
</select>
<!-- 搜索框 -->
<select id="queryMusicById" parameterType="int" resultType="Music">
select a.id,a.MName,a.MPath,b.AName from musics a 
		left join artist b on a.Aid=b.id where a.id=#{p}
</select>
<!--播放-->
<select id="getMusicById" parameterType="int" resultType="Music">
select a.id,a.MName,a.LPath,a.MIPath,a.MPath,a.Aid,b.AName from musics a left join 
artist b on a.Aid=b.id where a.id=#{id}
</select>
<!-- 根据曲风获取歌曲 -->
<select id="getMusicByStyle" parameterType="int" resultType="MusicPojo">
select a.id,a.MName,a.MPath,b.AName from musics a 
		left join artist b on a.Aid=b.id where a.id=any(select m_id from style_music where s_id=#{id})
</select>
<select id="getIdByStyle" parameterType="String" resultType="int">
  select id from style where Sname=#{style}
</select>
</mapper>