<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Music.back.Mapper.LoginMapper">

<!-- 根据用户名和密码查询用户ID -->
<select id="UserLogin" parameterType="String" resultType="int">
 SELECT IFNULL(( select id from user where userName=#{log} and passWord=#{pwd}),0);
</select>
</mapper>