<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Music.back.Mapper.UserManageMapper">
<!-- 获取所有用户 -->
<select id="querylist" resultType="User">
  select id,userName,email,phone,registerDate from user
</select>
<!-- 获取用户信息 -->
<select id="getInfo" parameterType="int" resultType="User">
  select * from user where id=#{id}
</select>
<!-- 更新下载次数 -->
 <update id="updateDcount" parameterType="int" >
     update musics set
        DCount=#{num}+Dcount
        where id=#{id}
    </update>
</mapper>